body{
    margin: 0;
}
.nav-center{
display: flex;
align-items: center;
flex-direction: row;
height:50px;
box-shadow: 3px 3px 10px grey; 
background-color: white;
margin-right: 0px;
border-top: 1px rgb(231, 229, 229) solid;
}
h4{
    display: flex;
    flex: 1;
    justify-content: center;
    color: rgb(87, 145, 226);
}
ul{
display: flex;
list-style: none;
text-decoration: none;
flex: 1;
justify-content: center;
}
li{
display: inline;
padding: 5px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(87, 145, 226);
}



.container{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 150px;
}
.container h2{
    background-color: black;
    color: white;
    border-radius: 4px;
   
}
.btn{
  border: 2px;
  border-style: solid;
  border-radius: 5px;  
    
}
